* {
	position: relative;
	font-family: "Bahnschrift", "Arial";
}

body {
	background: black;
	color: white;
	margin: 0px;
}

#header {
	width: 100%;
	height: 70px;
	color: white;
	background-color: #000010;
	position: fixed;
	z-index: 99;
	border-style: none none solid none;
	border-color: #0000C0;
	border-width: 1px;
}

#aside_menu {
	left: 0px;
	width: 400px; /*2vw*/
	/*min-width: 50px;
	max-width: 400px;*/
	height: 100%;
	background-color: black; /*#0B0080*/
	color: white;
	float: left;
	z-index: 98;
	text-align: center;
	border-right: 1px #0B0080 solid; /*#0B0080*/
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

#main_content {
	width: 79vw;
	float: left;
	background-color: black;
}

.logo {
	float: left;
	font-size: 25px;
	margin-left: 30px;
	height: 70px;
	display: flex;
	align-items: center;
}

.menu {
	float: right;
	margin-right: 10px;
	text-decoration: none;
	height: 70px;
	display: flex;
	align-items: center;
}

.menu a {
	text-decoration: none;
	margin-right: 20px;
	color: white;
}

.log-in {
	font-size: 14px;
	color: white;
	background-color: transparent;
	width: 80px;
	height: 40px;
	border-radius: 20px;
	border-style: solid;
	border-color: #0B0080;
	border-width: 1px;
	text-align: center;
	transition: all 0.25s cubic-bezier(.77,0,.18,1);
}

.log-in:hover {
	background-color: #0B0080;
	cursor: pointer;
}

.response-block {
	margin: 15px;
	padding: .5em;
	word-wrap: break-word;
	width: 90%;
	background-color: #2f3136;
	border: 1px solid #202225;
	color: #b9bbbe;
}

.window {
	background-color: white; /*#010008*/
	color: black;
	float: left;
	padding: 1%;
	width: -moz-available;
	position: fixed;
	height: 100vh;
}

.small_window {
	background-color: white; /*#010008*/
	color: black;
	float: left;
	padding: 1%;
	width: auto;
	height: auto;
	border: 1px solid #0B0080;
	border-radius: 10px;
	margin: 1%;
}

.clearlink {
	text-decoration: none;
	color: #0B0080;
	border: none;
	background-color: transparent;
	transition: all 0.25s cubic-bezier(.77,0,.18,1);
	font-size: 15px;
	cursor: pointer;
	margin: 10px 10px 10px 0;
}

.clearlink.active {
	color: white;
}

.clearlink:hover {
	color: white;
}

.windowcontent.show {
	display: none;
}

#avatar {
	height: 100%; 
	float: right;
	object-fit: contain;
	border-radius: 50%;
	max-width: 128px;
	margin-bottom: 5px;
}
#avatar_username {
	float: right;
}
.imagebtn {
	width: 70%;
	padding: 5px;
	object-fit: contain;
	border: solid 1px transparent;
	/*float: left;
	border-radius: 50%;*/
	max-width: 128px;
	transition: all 0.25s cubic-bezier(.77,0,.18,1);
}

.imagebtn:hover {
	border: solid 1px #0000C0;
	/*background-color: #0000C0;*/
	border-radius: 25%;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.linkheader {
	border-bottom: solid #0B0080;
	border-width: 1px;
}

.padding_box {
	padding: 5px;
}
#user-info {
	display: inline-block;
}

#user-info.hide {
	display: none;
}

#error-info {
	text-align: center;
}

#userPanel {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border-bottom: solid #0B0080 1px;
}

.side_menu_accountdet {
	min-height: 60px;
	height: 10%;
	font-size: 100%;
}
.search_row {
	border-block: white solid 1px;
	transition: all 0.25s cubic-bezier(.77,0,.18,1);
}

.search_row:hover {
	color: black;
	background-color: white;
}
