* {
	position: relative;
	font-family: "Bahnschrift", "Arial";
}

body {
	background: #000060;
	color: white;
	margin: 0px;
}

#header {
	width: 100%;
	height: 70px;
	color: white;
	background-color: #000010;
	position: fixed;
}

#aside_menu {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 20%;
	min-width: 200px;
	height: 100%;
	background-color: #000010;
	color: white;
	float: right;
}

#main_content {
	width: 80%;
	float: right;
}

.logo {
	float: left;
	font-size: 25px;
	margin-left: 30px;
	height: 70px;
	display: flex;
	align-items: center;
}

.menu {
	float: right;
	margin-right: 10px;
	text-decoration: none;
	height: 70px;
	display: flex;
	align-items: center;
}

.menu a {
	text-decoration: none;
	margin-right: 20px;
	color: white;
}

.log-in {
	font-size: 14px;
	color: white;
	background-color: #7289da;
	width: 80px;
	height: 40px;
	border-radius: 5px;
	border: None;
}

.log-in:hover {
	cursor: pointer;
}

.response-block {
	margin: 15px;
	padding: .5em;
	word-wrap: break-word;
	width: 90%;
	background-color: #2f3136;
	border: 1px solid #202225;
	color: #b9bbbe;
}
