:root {
	--main_color: #171925;
	--secondary_main_color: #090A0E;
	--white: #ffffff;
	--accent_color: #0C0E1A;
	--primary_font_color: white;
	--secondary_font_color: #65AFFF;
	--link_color: #C1C0E1;
	--hover_link_color: #4440A5;
}

* {
	/*position: relative;*/
	font-family: "Bahnschrift", "Arial";
}

body {
	background: var(--main_color);
	color: var(--primary_font_color);
	margin: 0px;
}

.tags_div {
	flex-wrap: wrap;
	display: flex;
	align-items: baseline;
	justify-content: center;
}


#aside_menu {
	left: 0px;
	width: 400px; /*2vw*/
	/*min-width: 50px;
	max-width: 400px;*/
	height: 100%;
	background-color: black; /*#0B0080*/
	color: white;
	float: left;
	z-index: 98;
	text-align: center;
	border-right: 1px #0B0080 solid; /*#0B0080*/
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

#main_content {
	width: 79vw;
	float: left;
	background-color: black;
}

.logo {
	float: left;
	font-size: 25px;
	margin-left: 30px;
	height: 70px;
	display: flex;
	align-items: center;
}

.menu {
	float: right;
	margin-right: 10px;
	text-decoration: none;
	height: 70px;
	display: flex;
	align-items: center;
}

.menu a {
	text-decoration: none;
	margin-right: 20px;
	color: white;
}

.log-in {
	font-size: 14px;
	color: white;
	background-color: transparent;
	width: 80px;
	height: 40px;
	border-radius: 20px;
	border-style: solid;
	border-color: #0B0080;
	border-width: 1px;
	text-align: center;
	transition: all 0.25s cubic-bezier(.77,0,.18,1);
}

.log-in:hover {
	background-color: #0B0080;
	cursor: pointer;
}

.response-block {
	margin: 15px;
	padding: .5em;
	word-wrap: break-word;
	width: 90%;
	background-color: #2f3136;
	border: 1px solid #202225;
	color: #b9bbbe;
}

.window {
	background-color: white; /*#010008*/
	color: black;
	float: left;
	padding: 1%;
	width: -moz-available;
	position: fixed;
	height: 100vh;
}

.small_window {
	background-color: white; /*#010008*/
	color: black;
	float: left;
	padding: 1%;
	width: auto;
	height: auto;
	border: 1px solid #0B0080;
	border-radius: 10px;
	margin: 1%;
}

.clearlink {
	text-decoration: none;
	color: #0B0080;
	border: none;
	background-color: transparent;
	transition: all 0.25s cubic-bezier(.77,0,.18,1);
	font-size: 15px;
	cursor: pointer;
	margin: 10px 10px 10px 0;
}

.clearlink.active {
	color: white;
}

.clearlink:hover {
	color: white;
}

.windowcontent.show {
	display: none;
}

.icon, #avatar {
	height: 60%; 
	float: left;
	object-fit: contain;
	border-radius: 50%;
	max-width: 128px;
	margin-bottom: 5px;
}
#avatar_username {
	float: right;
}

.w_padding {
	padding: 10px;
}
.imagebtn {
	width: 70%;
	padding: 5px;
	object-fit: contain;
	border: solid 1px transparent;
	/*float: left;
	border-radius: 50%;*/
	max-width: 128px;
	transition: all 0.25s cubic-bezier(.77,0,.18,1);
}

.imagebtn:hover {
	border: solid 1px #0000C0;
	/*background-color: #0000C0;*/
	border-radius: 25%;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.linkheader {
	border-bottom: solid #0B0080;
	border-width: 1px;
}

.padding_box {
	padding: 5px;
}
#user-info {
	display: inline-block;
}

#user-info.hide {
	display: none;
}

#error-info {
	text-align: center;
}

#userPanel {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border-bottom: solid #0B0080 1px;
}

.side_menu_accountdet {
	min-height: 60px;
	height: 10%;
	font-size: 100%;
}
.search_row {
	border-block: var(--accent_color) solid 1px;
	transition: all 0.25s cubic-bezier(.77,0,.18,1);
}

	.search_row:hover {
		color: var(--primary_font_color);
		background-color: var(--hover_link_color);
	}

.clicable_row:hover {
	cursor: pointer;
	/*filter: brightness(1.5);*/
}

.no-display {
	display: none;
}

.dropbtn {
	background-color: var(--hover_link_color);
	color: var(--link_color);
	font-size: 100%;
	border: solid 1px var(--accent_color);
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.25s cubic-bezier(.77,0,.18,1);
	padding: 5px;
}

	.dropbtn:hover, .dropbtn:focus {
		filter: brightness(0.75);
		color: var(--link_color);
	}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: black;
	filter: brightness(1.25);
	min-width: 160px;
	/*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
	transition: all 0.25s cubic-bezier(.77,0,.18,1);
	z-index: 1;
	overflow-inline: hidden;
	max-height: 50vh;
	width: 300px;
	border: var(--accent_color) 1px solid;
	border-radius: 15px;
}

	.dropdown-content img {
		max-height: 30.6px
	}

	.dropdown-content .flex_container {
		justify-content: left;
	}

	.dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		transition: all 0.25s cubic-bezier(.77,0,.18,1);
		width: 300px;
	}

		.dropdown a:hover {
			background-color: #ddd;
		}

.show {
	display: block;
}

.flex_container {
	display: flex;
	align-items: baseline;
	flex-wrap: nowrap;
	justify-content: center;
}

	.flex_container > * {
		text-align: center;
		margin-inline: 5px;
		align-self: center;
	}

#header_panel {
	position: fixed;
	background-color: var(--accent_color);
	color: var(--primary_font_color);
	z-index: 99;
	border: solid 1px var(--accent_color);
	border-radius: 0 0 10px 10px;
	transition: all 0.25s cubic-bezier(.77,0,.18,1);
	padding: 5px;
	height: 40px;
}

	#header_panel > * {
		margin-inline: 10px;
		text-align: center;
		align-self: center
	}

	#header_panel a {
		color: var(--link_color);
	}

	#header_panel > a:hover {
		color: var(--hover_link_color);
	}

#headerbtn {
	text-decoration: none;
	background-color: var(--hover_link_color);
	border: solid 1px var(--hover_link_color);
	border-radius: 5px;
	font-size: 20px;
	padding: 5px;
}

	#headerbtn:hover {
		filter: brightness(0.75);
		color: var(--primary_font_color);
	}

.vertical_center {
	left: 50%;
	transform: translate(-50%, 0);
}

.no_margin {
	margin: 0;
}

.vertical_center {
	left: 50%;
	transform: translate(-50%, 0);
}

#servers_search {
	background: black;
	color: var(--primary_font_color);
	border-radius: 5px;
	border: 1px;
	text-align: left;
	padding: 5px;
}

.center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}


.full_height {
	height: 100%;
}

slideUp, slideDown {
	position: absolute;
	display: none;
}

.grid_container {
	display: grid;
	height: 100%;
	width: 100%;
	gap: 0;
	gap: 10px;
	text-align: center;
	background-color: var(--secondary_main_color);
	grid-template-rows: auto 90% auto;
	grid-template-areas:
		'left header header header header header'
		'left main main main main main'
		'left footer footer footer footer footer';
}

	.grid_container > .header {
		grid-area: header;
	}

	.grid_container > .left {
		margin-inline: auto;
		height: 51px;
		padding: 0;
		width: 100%;
		grid-area: left;
	}

	.grid_container > .right {
		grid-area: right;
	}

	.grid_container > .footer {
		grid-area: footer;
	}

	.grid_container > .main {
		grid-area: main;
	}

	.grid_container > div {
		text-align: center;
		padding: 10px;
	}

#main_grid {
	background-color: var(--secondary_main_color);
	border-radius: 14px;
	height: 80%;
	width: 90%;
}

.header_div_box {
	border: 1px solid black;
	background-color: black;
	margin: 10px;
	padding: 5px;
	border-radius: 15px;
	text-align: center;
}

	.header_div_box > * {
		margin-inline: 5px;
	}

.max_font {
	font-size: 100%;
}

.tag {
	background-color: #8298E6;
	color: white;
	border-radius: 10px;
	padding: 2px 5px;
	margin: 4px;
}

	.tag > * {
		margin: 0;
		font-size: 100%;
	}
