.menu.dropdown {
    background: transparent;
}

    .menu.dropdown > .button::after {
        display: inline;
        border-style: solid;
        border-width: 6px;
        border-bottom-width: 6px;
        content: '';
        border-bottom-width: 0;
        border-color: black transparent transparent;
        margin-inline: 4px;
    }
