@media all 
{
    * 
   {
       font-family: "Bahnschrift", "Arial";
       position: relative;
    }

    body {
        background-color: #4E4E56; /*#cdd1ff*/
    }
}

.upperfooter 
{
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   background-color: 2A2B2E;
   color: black;
   text-align: center;
   border-bottom-style: solid;
   border-width: 1px;
}

.container
{
   top: 0;
}

.animation
{
   opacity: 1;
   tranzition: all 1s ease 0ms;
}

.animation.hide
{
   opacity: 0;
}

.clearlink
{
   font-size: 15px;
   font-weight: 700;
   color: black;
   text-decoration: none;
   padding: 20px 25px;
}

.circle 
{
   right: -250px;
   position: fixed;
   height: 500px;
   width: 500px;
   background-color: #2A2B2E;
   border-radius: 50%;
}

#panel {
  opacity: 1;
   height: 100px;
   width: 25px;
  display: block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 0px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: black; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px 0px 0px 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  transition: all 0.5s linear;
}

#panel.hide
{
   opacity: 0;
   display: none:
      
}

#panel_up_btn
{
   height: 30%;
   width: 100%;
   border: none; /* Remove borders */
   outline: none; /* Remove outline */
   padding: 15px;
   cursor: pointer; /* Add a mouse pointer on hover */
   background-color: white; /* Set a background color */
   color: black; /* Text color */
   border-radius: 10px 10px 0px 0px; /* Rounded corners */
   font-weight: 1000;
}

#panel_more_btn
{
   width: 100%;
   height: 70%;
  cursor: pointer; /* Add a mouse pointer on hover */
  -ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
  transform: rotate(270deg);
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  padding: 15px;
  background-color: white; /* Set a background color */
  color: black; /* Text color */
  border-radius: 0px 0px 10px 10px; /* Rounded corners */
}
}
