@media all 
{
    * 
   {
       font-family: "Bahnschrift", "Arial";
       position: relative;
    }

    body {
        background-color: white; /*#cdd1ff*/
    }
}

.clearlink
{
   font-size: 15px;
   font-weight: 700;
   color: black;
   text-align: center;
   vertical-align: central;
   text-decoration: none;
   padding: 20px 25px;
}
.circle 
{
  height: 500px;
  width: 500px;
  background-color: blue;
  border-radius: 50%;
}
